body {
    background-color: #eee6e6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.head {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.menuBar {
    position: absolute;
    top: 0;
    left: -25vw;
    width: 25vw;
    height: 100vh;
    background: linear-gradient(#0099AE, #00BF82);
    transition: ease-in-out .4s;
}

.menuBar.open {
    transition: ease-in-out .4s;
    margin-left: 25vw;
}

.close {
    position: absolute;
    padding: 3px;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: darkgrey;
}

.btnMenu {
    cursor: pointer;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 30px;
    color: #fff;
}

.section.activeBar {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
/*main*/

main {
    display: flex;
    justify-content: center;
}
.blocks {
    position: static;
    margin-top: 3rem;
}

.fistBlock {
    display: flex;
}

.block {
    position: relative;
    width: 19vw;
    height: 30vh;
    background-color: #eee6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.43);
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block:hover {
    transform: scale(1.03);
    box-shadow: 15px 10px 10px rgba(23, 22, 22, 0.43);
}

.secondBlock {
    display: flex;
}
.swapBtn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 20px;
    width: 20px;
}

.blocksName {
    position: absolute;
    bottom: 5px;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #1acdc8;
}
li {
    user-select: none;
    cursor: pointer;
}